<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>上传测试</title>
</head>
<body>


<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table align="center">
        <caption>文件上传测试</caption>
        <tr>
            <td>姓名:</td>
            <td><input id="name" type="text" name="name" value="{{name}}"/></td>
        </tr>
        <tr>
            <td>头像:</td>
            <td><input id='img' type="file" name="img"/></td>
        </tr>
        <tr>
            <td align="center" colspan="2">
                <input type="submit"/>
            </td>
        </tr>
    </table>
</form>

<center>姓名:{{name}}&nbsp;&nbsp;&nbsp;&nbsp;图片:{{img}}</center>
{% if img %}
<center><img src="{{ MEDIA_URL }}{{img}}"></center>
{% endif %}
</body>
</html>